.items {
  display: flex;
  flex-wrap: wrap; 
  width: 80%;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.displayBlocks {
  width: calc(49%); 
  box-sizing: border-box; 
  padding: 10px;
  position: relative; 
  background-color: #3b3d42;
  border-radius: 8px;
  
}


.Buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.Buttons button {
  background-color: #606369; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
  border-radius: 15px;

}


.head1, .head2 {
  width: 100%;
  color: white;
  text-align: center;
}
